$padding-1: 10px;
$border-1: 4px;
$menu-height: 40px;

@media screen and (max-width: 800px), (orientation: landscape) {
    .input-with-label {
        display: block;
    }
}

input[type=text] {
    margin: 0 10px;
}

.glowing-text {
    color: chartreuse; 
    font-size: 14px;
}

.space {
    width: 10px;
    display: inline-block;
}

.input-with-label {
    display: inline-block;
    margin-left: 8px;
}

.label-wrapper {
    display: inline-block;
}

.input-field {
    position: relative;

    .max-button {
        position: absolute;
        right: 18px;
        top: 6px;
    }
}

.absolute-parent {
    height: 100vh;
}

.main-area {
    height: calc(100vh - $menu-height);
}

#menu-ribbon {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
        width: 50%;
        height: $menu-height;
        padding: $padding-1;
    }
    #menu-left-header {
        text-align: left;
    }
    #menu-right-header {
        height: 30px;
        text-align: right;
    }
}

#token-balance {
    width: 90px;
    border-width: 0;
    font-size: 12px;
}

#wallet-address {
    width: 220px;
    font-size: 9px;
    border-width: 0;
}