$padding-1: 10px;
$border-1: 4px;
$menu-height: 40px;
$green_borders: rgb(200,255,180) rgb(127,255,0) rgb(80,160,40) rgb(20,130,30);
$red_borders: rgb(255, 180, 180) rgb(245, 130, 70) rgb(180, 20, 20) rgb(210, 40, 35);

@media screen and (max-width: 800px), (orientation: landscape) {
    .input-with-label {
        display: block;
    }
}

input[type=text] {
    margin: 0 10px;
}

hr {
    width: 100%;
    margin-left: 0px;
    border-color: chartreuse;
}

.glowing-text {
    color: chartreuse; 
    font-size: 14px;
}

.glowing-button {
    background-color: black;
    color: chartreuse;
    border-width: 3px;
    border-color: $green_borders;
    border-radius: 1px;
    margin: 15px 5px;
    padding: 7px;

    &:hover {
        border-color: $red_borders;
        color: rgb(255, 60, 0);
    }
}

.space {
    width: 10px;
    display: inline-block;
}

.input-with-label {
    display: inline-block;
    margin-left: 8px;
}

.label-wrapper {
    display: inline-block;
}

.input-field {
    position: relative;

    .max-button {
        position: absolute;
        right: 18px;
        top: 6px;
    }
}

.absolute-parent {
    height: 100vh;
    font-family: "Roboto Mono", monospace;
}

.main-area {
    height: calc(100vh - $menu-height);
}

#menu-ribbon {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
        width: 50%;
        height: $menu-height;
        padding: $padding-1;
    }
    #menu-left-header {
        text-align: left;
    }
    #menu-right-header {
        height: 30px;
        text-align: right;
    }
}

#token-balance {
    width: 90px;
    border-width: 0;
    font-size: 12px;
}

#wallet-address {
    width: 220px;
    font-size: 9px;
    border-width: 0;
}