$padding-1: 10px;
$border-1: 4px;
// NOW: FIX MENU RIBBON UNWANTED FEATURE

.glowing-text {
    color: chartreuse; 
    font-size: 14px;
}

.space {
    width: 10px;
    display: inline-block;
}

#menu-ribbon {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
        width: 50%;
        height: 40px;
        padding: $padding-1;
    }
    #menu-left-header {
        text-align: left;
    }
    #menu-right-header {
        height: 30px;
        text-align: right;
    }
}