@import '@fortawesome/fontawesome-free/css/all.css';

$main-area-margin: 30px;
$right-align-input-ids: "stats-score", "stats-date";

%main-area {
    width: calc(50% - $main-area-margin);
}

.channel-img {
    border-radius: 15px;
    vertical-align: middle; /*maybe best inside of table so that text can start at the top */
    width: 60px;
    height: 60px
}

.channel-name {
    vertical-align: middle;
}

.channel-header {
    margin: "0px";
}

#investing-areas {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: chartreuse;
    background-color: black;

    #data-area {
        @extend %main-area;
        margin-left: $main-area-margin;
    }
    #chart-area {
        @extend %main-area;
        margin-right: $main-area-margin;
    }
}

#arrow-button { // I: it is valid to give the same id to different HTML elements!
    height: 27px;
    vertical-align: middle;
    padding: 4px 7px;
}

#statistics-title {
    font-size: 18px;
    margin: 18px 5px;
}

table {
    width: 100%;

    tr {
        width: 100%;

        td {
            @each $id in $right-align-input-ids {
                input[id=#{$id}] {
                    text-align: right;
                }
            }
        }
    }
}