$main-area-margin: 30px;

%main-area {
    width: calc(50% - $main-area-margin);
}

#investing-areas {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: chartreuse;
    background-color: black;

    #data-area {
        @extend %main-area;
        margin-left: $main-area-margin;
    }
    #chart-area {
        @extend %main-area;
        margin-right: $main-area-margin;
    }
}